@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:500);


body {
    background-image:url(../img/bg-all.png);
}


.nav-topo {width:100%; height:72px; background-image:url(../img/ssd.png); position:fixed; z-index:100; background-repeat:repeat-x;}

.conteudo-home {width:1000px; min-height:995px; background-color:#FFF; margin:auto;}

.sidertopp {width:1000px; height:70px; margin:auto; }
.logo {width:190px; height:72px; float:left; background-image:url(../img/inf-log.png);   margin-left:5px; }
.estado {width:240px; height:30px; float:left;  margin-top:20px; margin-left:30px;  }
.entrar-log {width:240px; height:30px; float:right;  margin-top:28px;}

.enter {min-width:60px; height:20px; float:left; }
.enter p {font-size:13px; text-align:center;}
.enter p a {color:#FFF; text-decoration:none;}
.enter p a:hover {text-decoration:underline;}

.cadastre-se {width:130px; height:28px; float:left;  background-image:url(../img/cds.png); margin-top:-4px; margin-left:20px;}

.categorias {width:100%; min-height:35px; float:left; background-color:#069;}
.categorias-separa {width:100%; height:2px; float:left; background-image:url(../img/bg-trans.png);}
.categorias-amarra {width:1000px; min-height:35px; margin:auto; }
.icon-ctg {width:25px; height:15px; float:left;}
.iconssd {width:30px; height:30px; float:left; }
.anunciec {width:100%; height:160px; background-image:url(../img/conhc.png); float:left; }
.text-area-est {width:1000px; height:320px;  margin:auto; }
.sider-ctg-rapd {width:1000px; height:590px; margin:auto; margin-top:-150px; position:relative; z-index:99; background-color:#FFF; }
.cont-cima-coment {width:398px; margin-top:2px; min-height:218px; float:left; background-image:url(../img/bg-pro.jpg); background-repeat:no-repeat; margin-left:2px;}
.info-cmt {width:600px; min-height:220px; float:left; }
.cont-promo {width:398px; margin-left:2px; min-height:262px; float:left; background-image:url(../img/bg-promo.jpg); margin-top:2px; }
.titl-nvanc {width:100%; height:35px; float:left; }
.titl-nvanc-inline {width:580px; height:2px; float:left; margin-left:10px; background-color:#D7D7D7;}
.promogastro {width:300px; height:120px; margin-top:2px; margin-left:2px; float:left; }
.prom-hot {width:294px; height:120px; margin-top:2px;  float:left;}
.text-apres {width:100%; height:180px; float:left; margin-top:100px;}
.text-apres { font-size:26pt; text-align:center; text-shadow: 0 0 5px rgba(0,0,0,.45);}
.plan-promo {width:338px; height:277px; float:left; background-image:url(../img/pnc.png); margin-left:30px; margin-top:-70px;}
.promo-ing{width:596px; height:95px; float:left; background-color:#F93; margin-left:2px; margin-top:2px;}
.icn-info-opert {width:67px; height:95px; float:left; background-image:url(../img/of.png); margin-left:15px;}
.info-opert {width:82%; height:95px; float:left; margin-left:15px;}
.info-opert p {color:#FFF; text-shadow: 0 0 5px rgba(0,0,0,.45); text-align:center; font-size:19px; }
.busca-rapid {width:596px; height:262px; float:left; background-image:url(../img/bg-trans.png); margin-top:2px; margin-left:2px;}
.nam-mais-acess {width:100%; height:30px; float:left; }
.icons-ctgg {width:100%; height:100px; float:left; margin-top:10px;  }
.boxone {width:100px; height:100px; float:left; margin-left:16px; background-image:url(../img/bg-trans.png);}
.oferta-bot {width:1000px; height:320px; margin:auto;  margin-top:5px;}
.oferta-bot-amarra {width:970px; height:320px; margin:auto;}
.porc {width:100%; height:350px; float:left; background-image:url(../img/bg--.jpg); background-repeat:repeat-x;}
.shadow-bnn {width:1000px; height:20px; float:left; margin-top:5px; background-image:url(../img/element-jquery/banshado.png); z-index:100; position:relative;}
.titulo-oft {width:100%; height:101px; background-image:url(../img/element-jquery/rib.png); float:left; margin-top:-20px; }
.test {width:50px; height:50px; margin:auto; background-color:#900;}
.ads {width:100%; height:90px; float:left; margin-top:10px;}
.ads-code {width:728px; height:90px; float:left; background-image:url(../img/ads.jpg); margin-left:15px;}
.ads-ofert {width:225px; height:90px; float:left; background-image:url(../img/criof.jpg); margin-left:15px;}
.novos-no-info {width:100%; height:190px; float:left; background-image:url(../img/new.jpg); margin-top:15px;}
.separ-nvinfo {width:100%; height:2px; float:left; background-color:#F93;}
.boxes-hme {width:100%; height:300px; float:left; margin-top:35px;}
.boxx0 {width:300px; height:282px; float:left; background-color:#CCC; margin-left:25px;  border-top-left-radius: 8px; border-top-right-radius: 8px;}
.img-tarol {width:100%; height:160px; float:left; background-color:#FFF; border-top-left-radius: 8px; border-top-right-radius: 8px; }
.bbx0cont {width:298px; height:120px; float:left; background-color:#FFF; margin-left:1px;}
.imgic {width:80px; height:80px; margin:auto; margin-top:-30px; }

.rodape {width:100%; height:250px; float:left; background-image:url(../img/cty-rod.jpg);}
.rodape-amar {width:1000px; height:250px; margin:auto; }
.bx-rod {width:280px; height:250px; float:left;  margin-left:20px; }
.inlgo {width:280px; height:100px; background-image:url(../img/inlgrod.png); float:left; margin-top:15px;}
.tit-ses-rod {width:100%; height:30px; float:left; margin-top:40px;}
.bx-rod2 {width:300px; height:230px; float:left;  margin-left:50px; }
.red-social {width:100%; height:25px; float:left; }
.bxrdsoci {width:25px; height:25px; float:right; margin-right:5px;}



/* Forms */

input[type='text'],input[type='password'], input[type='email'], input[type='number'], input[type='url'], select{
	font-size: 18px; height: 46px; width: 420px; border-radius: 4pt; border: 1px solid #A0A0A0; padding-left: 10px; left: 400px; background: white;
}

label{ width: 180px; color: #92877C; vertical-align: top; }

form{
	width: 100%; border: 1px solid #D0D0D0; padding: 10px 10px 10px 10px; margin-top: 10px;
	border-radius: 5pt;
}

.helptext{ font-size: 8pt; color: #000000; }























/* CONFIGURACAO DO BUSCAR */
 #search input {
		background: none repeat scroll 0 0 #fff;
		border: 0 none;
		color: #7F7F7F;
		float: left;
		font-size:13px;
		height: 35px;
		margin: 0;
		padding: 10px;
		transition: background 0.3s ease-in-out 0s;
		width: 215px;
	}

	#search button {
		background: url("") no-repeat scroll center center #F93;
		cursor: pointer;
		height: 35px;
		text-indent: -99999em;
		transition: background 0.3s ease-in-out 0s;
		width: 35px;
		border: 2px solid #fff;
	}

	#search button:hover {
		background-color:#F06;
	}
 







































/* NAVEGADOR CATEGORIAS */
.nav2,
.nav2 a,
.nav2 ul,
.nav2 li,
.nav2 div,
.nav2 form,
.nav2 input {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.nav2 a { text-decoration: none; }

.nav2 li { list-style: none; }

/* Menu Container */
.nav2 {
	display: inline-block;
	position: relative;
	cursor: default;
	z-index: 500; 
}

/* Menu List */
.nav2 > li {
	display: block; float:left;
}

/* Menu Links */
.nav2 > li > a {
	position: relative; 
	display: block;
	z-index: 510;
	height: 40px;
	padding: 0 20px;
	line-height: 45px;
	
	font-family: 'Open Sans', sans-serif;
	font-size: 11pt;
	color: #fcfcfc;
	text-shadow: 0 0 1px rgba(0,0,0,.35);

	background: #069;
	border-left: 1px thin #036;
	border-right: 1px solid #036;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.nav2 > li:hover > a {  background: #0C9;   }

.nav2 > li:first-child > a {
	border-radius: 3px 0 0 3px; 
	border-left: none;
}


/* Menu Dropdown */
.nav2 > li > div {
	position: absolute;
	display: block;
	width: 100%;
	top: 50px;
	left: 0;

	opacity: 0;
	visibility: hidden;
	overflow: hidden;

	background: #ffffff;
	border-radius: 0 0 3px 3px; 

	-webkit-transition: all .3s ease .15s;
	-moz-transition: all .3s ease .15s;
	-o-transition: all .3s ease .15s;
	-ms-transition: all .3s ease .15s;
	transition: all .3s ease .15s;
}

.nav2 > li:hover > div {
	opacity: 1;
	visibility: visible;
	overflow: visible; 
}

/* Menu Content Styles */
.nav2 .nav2-column {
	float: left;
	width: 15%;
	padding: 2%; 
}

.nav2 .nav2-column h3 {
	
	line-height: 18px;
	
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #372f2b;
	text-transform: uppercase;
}

.nav2 .nav2-column h3.orange { color: #ff722b; }

.nav2 .nav2-column li a {
	display: block;
	line-height: 26px;
	
	font-family: Helvetica, Arial, sans-serif;
	
	font-size: 13px;
	color: #888888;
}

.nav2 .nav2-column li a:hover { color: #666666; }
/* FIM NAVEGADOR CATEGORIAS */







/* CODIGO DO BG RESPONSIVO */
.contact-input {
  overflow: hidden; 
  margin-bottom: 20px;
  padding: 5px;
  background: #eef7f9;
  border-radius: 2px;      
}
.contact-input > input, .contact-input > textarea {
  display: block; 
  width: 100%;
  height: 29px; 
  padding: 0 9px;
  color: #4d5a5e;
  background: white;
  border: 1px solid #cfdfe3;
  border-bottom-color: #d2e2e7;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2); 
} 
.contact-input > input:focus, .contact-input > textarea:focus {
  border-color: #93c2ec;
  outline: 0;
  -webkit-box-shadow: 0 0 0 8px #e1ecf5;
  box-shadow: 0 0 0 8px #e1ecf5;
}
.lt-ie9 .contact-input > input, .lt-ie9 .contact-input > textarea {
  line-height: 27px;
}
.contact-input > textarea {
  padding: 4px 8px;
  height: 90px;
  line-height: 20px;
  resize: none;
}

.select {
  display: block;
  position: relative;
  overflow: hidden;
  background: white; 
  border: 1px solid #d2e2e7;
  border-bottom-color: #c5d4d9;
  border-radius: 2px;
  background-image: -webkit-linear-gradient(top, #fcfdff, #f2f7f7);
  background-image: -moz-linear-gradient(top, #fcfdff, #f2f7f7);
  background-image: -o-linear-gradient(top, #fcfdff, #f2f7f7);
  background-image: linear-gradient(to bottom, #fcfdff, #f2f7f7);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
}
.select:before, .select:after {
  content: '';
  position: absolute;
  right: 11px;
  width: 0; 
  height: 0;
  border-left: 3px outset transparent;
  border-right: 3px outset transparent;
}
.select:before {
  top: 10px;
  border-bottom: 3px solid #7f9298;
}
.select:after {
  top: 16px;
  border-top: 3px solid #7f9298; 
}
.select > select {
  position: relative; 
  z-index: 2;
  width: 112%;
  height: 29px;
  line-height: 17px;
  padding: 5px 9px;
  padding-right: 0;
  color: #80989f;
  background: transparent;
  background: rgba(0, 0, 0, 0);
  border: 0;
  -webkit-appearance: none;
}
.select > select:focus {
  color: #4d5a5e;
  outline: 0; 
}

.contact-submit {
  text-align: right;
}
.contact-submit > input {
  display: inline-block;
  vertical-align: top;
  padding: 0 14px;
  height: 29px;
  font-weight: bold;
  color: #729fb2;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  background: #deeef4;
  border: 1px solid #bed6e3;
  border-bottom-color: #accbd9;
  border-radius: 15px;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #e6f2f7, #d0e6ee);
  background-image: -moz-linear-gradient(top, #e6f2f7, #d0e6ee);
  background-image: -o-linear-gradient(top, #e6f2f7, #d0e6ee);
  background-image: linear-gradient(to bottom, #e6f2f7, #d0e6ee);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.06), 0 0 0 4px #eef7f9;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.06), 0 0 0 4px #eef7f9;
}
.contact-submit > input:active {
  color: #6a95a9;
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
  background: #c9dfe9;
  border-color: #a3bed0 #b5ccda #b5ccda;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.2), 0 0 0 4px #eef7f9;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.2), 0 0 0 4px #eef7f9;
}
/* FIM CODIGO DO BG RESPONSIVO */



























/*
 * CONFIGURAÇÃO DAS OFERTAS JQUERY
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
	width: 2240px !important; 
	
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: red;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 6px;
	left: 0;
	width: 100%;
	height: 28px;
	background: url(../img/bar.png) no-repeat 0 0;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: url(../img/scroll.png) no-repeat center 50%;
	position: relative;
}

.jspDrag
{
	background: url(../img/drag.png) no-repeat center 50%;
	width: 28px !important; 
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrowLeft { padding-left: 19px; background: url(../img/scroll-left.png) no-repeat center 8px; }

.jspArrowRight { padding-right: 21px; background: url(../img/scroll-right.png) no-repeat 13px 8px; }

.jspArrow.jspDisabled
{
	cursor: default;
	
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 13px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}