			<!-- BOX DIFERENCIAIS, OPICIONAL  -->    
			<div class="dif"> 
				<div class="difd">
					<div class="ribss"> 
						<div class="ribnme">
							<p style="color:#FFF; font-size:15pt; font-family: 'Ubuntu', sans-serif; margin-left:20px; margin-top:5px; text-shadow: 0 0 1px rgba(0,0,0,.35);">
								Diferenciais
							</p>
						</div>
					</div>
					<div class="contudtext"> 
						<p style="color:#838383; font-size:13px; margin:20px; text-align:justify; margin-top:5px; float:left;">
							Estacionamento Grátis, Ar condicionado, Atendimento para Deficiente Físico, Sala de fumantes, entre outros. Delivery
						</p>
					</div>
				</div>
			</div>
			<div class="shaap"> </div>
 			<!-- FIM BOX DIFERENCIAIS, OPICIONAL  --> 