					<!-- GALERIA DE FOTOS DO ANUNCIO-->
					<div   class="albfoto"> 
						<div  class="amarra-ftss">
							<div id="amazingcarousel-5" style=" display:none;position:relative;width:100%;max-width:415px;margin:0px auto 0px;">
								<div class="amazingcarousel-list-container">
									<ul class="amazingcarousel-list">
										
										<div class="lightboxxx">
										<!--FOTO 1-->
											<li class="amazingcarousel-item">
												<div class="amazingcarousel-item-container">
													<div class="amazingcarousel-image">
														<!-- IMAGEM LIGHT BOX ATIVA GRANDE-->
														<a href="/static/img/foto-anuncio/1-lightbox.jpg" class="html5lightbox" data-group="amazingcarousel-5">
														<!-- IMAGEM LIGHT BOX ATIVA GRANDE-->
														<!-- IMAGEM EM MINIATURA-->
														<img style="width:67px; height:63px;" src="/static/img/foto-anuncio/1-lightbox.jpg"; /> </a></div>
														<!-- IMAGEM EM MINIATURA-->
														<div class="amazingcarousel-title">
														</div>
													<div class="amazingcarousel-description"></div>         
												</div>
											</li>
										</div>
										<!-- FIM FOTO 1-->
										<!--FOTO 1-->
										<li class="amazingcarousel-item">
											<div class="amazingcarousel-item-container">
												<div class="amazingcarousel-image">
													<!-- IMAGEM LIGHT BOX ATIVA GRANDE-->
													<a href="/static/img/foto-anuncio/1-lightbox.jpg" class="html5lightbox" data-group="amazingcarousel-5">
														<!-- IMAGEM LIGHT BOX ATIVA GRANDE-->
														<!-- IMAGEM EM MINIATURA-->
														<img style="width:67px; height:63px;" src="/static/img/foto-anuncio/1-lightbox.jpg"; />
													</a>
												</div>
													<!-- IMAGEM EM MINIATURA-->
												<div class="amazingcarousel-title"></div>
												<div class="amazingcarousel-description"></div>                   
 											</div>
										</li>
										<!-- FIM FOTO 1-->
										<!--FOTO 2-->
										<li class="amazingcarousel-item">
											<div class="amazingcarousel-item-container">
												<div class="amazingcarousel-image">
													<!-- IMAGEM LIGHT BOX ATIVA GRANDE-->
													<a href="/static/img/foto-anuncio/1-lightbox.jpg" class="html5lightbox" data-group="amazingcarousel-5">
													<!-- IMAGEM LIGHT BOX ATIVA GRANDE-->
													<!-- IMAGEM EM MINIATURA-->
														<img style="width:67px; height:63px;" src="/static/img/foto-anuncio/1-lightbox.jpg"; />
													</a>
												</div>
												<!-- IMAGEM EM MINIATURA-->
												<div class="amazingcarousel-title"></div>
												<div class="amazingcarousel-description"></div>
											</div>
										</li>
										<!-- FIM FOTO 2-->
										<!--FOTO 2-->
										<li class="amazingcarousel-item">
											<div class="amazingcarousel-item-container">
												<div class="amazingcarousel-image">
													<!-- IMAGEM LIGHT BOX ATIVA GRANDE-->
													<a href="/static/img/foto-anuncio/1-lightbox.jpg" class="html5lightbox" data-group="amazingcarousel-5">
													<!-- IMAGEM LIGHT BOX ATIVA GRANDE-->
													<!-- IMAGEM EM MINIATURA-->
														<img style="width:67px; height:63px;" src="/static/img/foto-anuncio/1-lightbox.jpg"; />
													</a>
												</div>
												<!-- IMAGEM EM MINIATURA-->
												<div class="amazingcarousel-title"></div>
												<div class="amazingcarousel-description"></div>
											</div>
										</li>
										<!-- FIM FOTO 2-->
										<!--FOTO 2-->
										<li class="amazingcarousel-item">
											<div class="amazingcarousel-item-container">
												<div class="amazingcarousel-image">
													<!-- IMAGEM LIGHT BOX ATIVA GRANDE-->
													<a href="/static/img/foto-anuncio/1-lightbox.jpg" class="html5lightbox" data-group="amazingcarousel-5">
													<!-- IMAGEM LIGHT BOX ATIVA GRANDE-->
													<!-- IMAGEM EM MINIATURA-->
														<img style="width:67px; height:63px;" src="/static/img/foto-anuncio/1-lightbox.jpg"; />
													</a>
												</div>
												<!-- IMAGEM EM MINIATURA-->
												<div class="amazingcarousel-title"></div>
												<div class="amazingcarousel-description"></div>
											</div>
										</li>
										<!-- FIM FOTO 2-->
									</ul>
									<div class="amazingcarousel-prev"></div>
									<div class="amazingcarousel-next"></div>
								</div>
								<div class="amazingcarousel-nav"></div>

							</div>
						</div>
					</div>
					<!-- FIM GALERIA DE FOTOS DO ANUNCIO-->