<!-- OFERTA PATROCINADA DENTRO FREE  -->  
				<div class="box-ferta">
					<div class="oferta-mold">
						<div class="of-modur">  </div> 
						<div class="img-dento"><!-- MINI IMAGEM DA OFERTA --> 
							<img style="width:68px; height:68px;" src="/static/img/ofertas/04.jpg">
						</div>
					</div>
					<div class="titulooff"> 
						<p style=" text-transform:uppercase; color:#F30; font-family: 'Ubuntu', sans-serif; text-align:center; font-size:10pt; ">
							Pizzaria e Churrascaria Atlântico
						</p>
					</div>
					<div class="CITY-OF"> 
						<p style=" color:#069; text-align:center; font-size:12px; ">
							Jaboatão dos Guararapes - PE
						</p>
					</div>

					<div class="informaoff"> 
						<p style=" color:#666; text-align:center; font-size:12px; margin:5px; ">
							bolos caseiros, 27 sabores de bolos caseiros, feitos diariamente com ingredientes nat...
						</p>
					</div>
				</div>
		  		<!-- FIM OFERTA PATROCINADA DENTRO FREE  -->
				<!-- OFERTA PATROCINADA DENTRO FREE  -->
				<div class="box-ferta">
					<div class="oferta-mold">
						<div class="of-modur">  </div> 
						<div class="img-dento"><!-- MINI IMAGEM DA OFERTA --> 
							<img style="width:68px; height:68px;" src="/static/img/ofertas/04.jpg">
						</div>
					</div>
					
					<div class="titulooff"> 
						<p style=" text-transform:uppercase; color:#F30; font-family: 'Ubuntu', sans-serif; text-align:center; font-size:10pt; ">
							Pizzaria e Churrascaria Atlântico
						</p>
					</div>
					<div class="CITY-OF"> 
						<p style=" color:#069; text-align:center; font-size:12px; ">Jaboatão dos Guararapes - PE</p>
					</div>
					<div class="informaoff"> 
						<p style=" color:#666; text-align:center; font-size:12px; margin:5px; ">
							bolos caseiros, 27 sabores de bolos caseiros, feitos diariamente com ingredientes nat...
						</p>
					</div>
				</div>
				<!-- FIM OFERTA PATROCINADA DENTRO FREE  -->  
	 			<!-- OFERTA PATROCINADA DENTRO FREE  --> 
				<div class="box-ferta">
					<div class="oferta-mold">
						<div class="of-modur">  </div> 
						<div class="img-dento"><!-- MINI IMAGEM DA OFERTA --> 
							<img style="width:68px; height:68px;" src="/static/img/ofertas/04.jpg">
						</div>
					</div>
					<div class="titulooff"> 
						<p style=" text-transform:uppercase; color:#F30; font-family: 'Ubuntu', sans-serif; text-align:center; font-size:10pt; ">
							Pizzaria e Churrascaria Atlântico
						</p>
					</div>
					
					<div class="CITY-OF"> 
						<p style=" color:#069; text-align:center; font-size:12px; ">
							Jaboatão dos Guararapes - PE
						</p>
					</div>

					<div class="informaoff"> 
						<p style=" color:#666; text-align:center; font-size:12px; margin:5px; ">
							bolos caseiros, 27 sabores de bolos caseiros, feitos diariamente com ingredientes nat...
						</p>
					</div>

				</div>		
				<!-- FIM OFERTA PATROCINADA DENTRO FREE  -->