	<div class="nmptroc"> <span style="color:#09C; margin-left:17px; font-size:9px; "> Anúncios Patrocinados </span> </div>
	
	<div style="height:110px;" class="promm">  <!-- PATROCINADOS ALEATORIOS -->
		
		<a target="_blank" href="#">
			<div style="margin-left:5px;" class="bxpromo">   <!-- PATROCINADO 1 --> 
				<div class="patrocfto">
					<img style="width:90px; height:85px; border: thin solid; padding: 5px; border-color:#CCC;" src="/static/img/ofertas/01.jpg">
				</div> <!-- FOTO DO PATROCINADO --> 
   
				<div class="titulo-patr">
					<p style="font-family: 'Ubuntu', sans-serif; font-size:13px; color:#C30; margin-top:1px;">
						REI DO MOCOTÓ E DOBRADINHA
					</p>
				</div> <!-- TITULO PATROCINADO --> 
   
				<div class="desccr-patr"> <!-- BREVE DESCRICAO DO PATROCINADO --> 
					<p style="font-size:11px; color:#666; " >
						Casa do norte e restaurante nordestino com 39 anos detradição em São Paulo. Somos esp... 
					</p>
				</div>   
				<div style="margin-top:-1px;" class="titulo-patr">
					<p style="font-family: 'Ubuntu', sans-serif; font-size:11px; color:#39C;">
						São Paulo - SP
					</p>
				</div> <!-- LOCAL PATROCINADO --> 
			</div> 
			<div class="seppro"></div> 
		</a> <!-- FIM PATROCINADO 1 -->

		<a target="_blank" href="#"> 
			<div style="margin-left:5px;" class="bxpromo">   <!-- PATROCINADO 1 --> 
				<div class="patrocfto">
					<img style="width:90px; height:85px; border: thin solid; padding: 5px; border-color:#CCC;" src="/static/img/ofertas/01.jpg">
				</div> <!-- FOTO DO PATROCINADO --> 
   
				<div class="titulo-patr">
					<p style="font-family: 'Ubuntu', sans-serif; font-size:13px; color:#C30; margin-top:1px;">
						REI DO MOCOTÓ E DOBRADINHA
					</p>
				</div> <!-- TITULO PATROCINADO --> 
   
				<div class="desccr-patr"> <!-- BREVE DESCRICAO DO PATROCINADO --> 
					<p style="font-size:11px; color:#666; " >
						Casa do norte e restaurante nordestino com 39 anos detradição em São Paulo. Somos esp... 
					</p>
				</div>
   
				<div style="margin-top:-1px;" class="titulo-patr">
					<p style="font-family: 'Ubuntu', sans-serif; font-size:11px; color:#39C;">
						São Paulo - SP
					</p>
				</div> <!-- LOCAL PATROCINADO --> 
			</div> 
			<div class="seppro"></div> 
		</a> <!-- FIM PATROCINADO 1 -->

		<a target="_blank" href="#"> 
			<div style="margin-left:5px;" class="bxpromo">   <!-- PATROCINADO 1 --> 
				<div class="patrocfto">
					<img style="width:90px; height:85px; border: thin solid; padding: 5px; border-color:#CCC;" src="/static/img/ofertas/01.jpg">
				</div> <!-- FOTO DO PATROCINADO --> 

				<div class="titulo-patr">
					<p style="font-family: 'Ubuntu', sans-serif; font-size:13px; color:#C30; margin-top:1px;">
						REI DO MOCOTÓ E DOBRADINHA
					</p>
				</div> <!-- TITULO PATROCINADO --> 

				<div class="desccr-patr"> <!-- BREVE DESCRICAO DO PATROCINADO --> 
					<p style="font-size:11px; color:#666; " >
						Casa do norte e restaurante nordestino com 39 anos detradição em São Paulo. Somos esp... 
					</p>
				</div>

				<div style="margin-top:-1px;" class="titulo-patr">
					<p style="font-family: 'Ubuntu', sans-serif; font-size:11px; color:#39C;">
						São Paulo - SP
					</p>
				</div> <!-- LOCAL PATROCINADO --> 
			</div> 
			<div class="seppro"></div> 
		</a> <!-- FIM PATROCINADO 1 -->
	</div> <!-- FIM DO PATROCINADOS ALEATORIOS -->