{% extends "base_interno.html" %}
{% load staticfiles %}
{% block conteudo %}
{% include "painel_usuario.html" %}

{% include "ad_sense_anuncio.html" %}

<div class="ttlepainel"> 
	<h2 style="text-align:center; margin-top:5px; color:#F93; font-family: 'Ubuntu', sans-serif; font-size:35pt;">
		Escolha o Melhor Plano para seu Anúncio
	</h2>
</div>
 <!-- DIV QUE CENTRALIZA --> 
<div class="sitctro"> 
<!-- BOX DOS PLANOS -->  
<div class="bxtipanunci"> 	
	<div class="tpbxpla"> 
		<div class="blxname"></div>
		<div style="background-image:url(/static/img/bh1.png);" class="blxname2"> 
			<div class="bxttleplan"> 
				<p style="color:#FFF; font-family: 'Open Sans', sans-serif; font-size:22pt; text-align:center; text-shadow: 0 0 1px rgba(0,0,0,.25);"> Grátis</p>
			</div>
			<p style="text-align:center; color:#FFF; margin-top:5px; font-family: 'Open Sans', sans-serif;"> Recursos Limitados</p>
		</div>
	
		<div style="background-image:url(/static/img/bh2.png);" class="blxname3"> 
			<div class="bxttleplan"> 
				<p style="color:#FFF; font-family: 'Open Sans', sans-serif; font-size:22pt; text-align:center; text-shadow: 0 0 1px rgba(0,0,0,.25);"> Premium I</p>
			</div>
			<p style="text-align:center; color:#FFF; margin-top:5px; font-family: 'Open Sans', sans-serif;"> Mais Vendido</p>
		</div>
		<div style="background-image:url(/static/img/bh3.png);" class="blxname2">
			<div class="bxttleplan"> 
				<p style="color:#FFF; font-family: 'Open Sans', sans-serif; font-size:22pt; text-align:center; text-shadow: 0 0 1px rgba(0,0,0,.25);"> Premium II</p>
			</div>
			<p style="text-align:center; color:#FFF; margin-top:5px; font-family: 'Open Sans', sans-serif;"> Em Breve!</p>
		</div>
		
		<div style="background-image:url(/static/img/bh4.png);" class="blxname2"> 
			<div class="bxttleplan"> 
				<p style="color:#FFF; font-family: 'Open Sans', sans-serif; font-size:22pt; text-align:center; text-shadow: 0 0 1px rgba(0,0,0,.25);"> Premium III</p>
			</div>
			<p style="text-align:center; color:#FFF; margin-top:5px; font-family: 'Open Sans', sans-serif;"> Em Breve!</p>
		</div>
	</div>   
   <!-- PRICES --> 
	<div class="bxprce">
		<div class="ribinf"> 
			<div class="ribinfdt"> 
				<div class="ribprom"></div>
				<div class="girll"></div>
			</div> 
		</div>

		<div class="ribinf2"> 
			<div class="ribinfdt2"> 
				<div style="margin-top:35px;" class="valuer"> 
					<p style="color:#39C; font-family: 'Ubuntu', sans-serif; font-size:40pt; text-align:center; text-shadow: 0 0 1px rgba(0,0,0,.25);"> 
						<span style="font-size:15pt;">R$</span> 00<span style="font-size:15pt;">,00</span>
					</p>
				</div>
   				<a title="Publique seu Anuncio Grátis" href="/criar_anuncio_gratis"> 
   					<div class="btcontr2"></div>
   				</a>
			</div>
		</div>

   		<div class="ribinf2"> 
			<div class="ribinfdt2"> 
				<div class="valuer"> 
					<p style="color:#F90; font-family: 'Ubuntu', sans-serif; font-size:40pt; text-align:center; text-shadow: 0 0 1px rgba(0,0,0,.25);">
						<span style="font-size:15pt;">R$</span> 20<span style="font-size:15pt;">,00</span>
					</p>
					<div class="mnsais">
						<p style="text-align:center; font-family: 'Ubuntu', sans-serif; margin-top:-5px;  color:#F90; font-size:12pt;">
							Mensais
						</p>
					</div>
					<div class="pgsgroico"></div>
					<div  style=" margin-top:8px;" class="ouvlue">
						<p style=" color:#A0A0A0; text-align:center; font-family: 'Ubuntu', sans-serif; font-size:10pt; margin-top:3px;">
							Trimestral: R$ 60,00
						</p>
					</div>
					<div class="ouvlue">
						<p style="margin-top:6px; color:#A0A0A0; text-align:center; font-family: 'Ubuntu', sans-serif; font-size:10pt; ">
							Semestral: R$ 110,00
						</p>
					</div>

					<div class="ouvlue">
						<p style="margin-top:15px; color:#A0A0A0; text-align:center; font-family: 'Ubuntu', sans-serif; font-size:10pt; ">
							Anual: R$ 230,00
						</p>
					</div>

					<a title="Contratar Plano" href="#">
   						<div class="btcontr"></div>
   					</a>
				</div>	
			</div>
		</div>	
		<div class="ribinf2"> 
			<div class="ribinfdt2"></div>
		</div>

		<div class="ribinf2"> 
			<div class="ribinfdt2"></div>
		</div>
	</div> 
   	<!--FIM PRICES --> 

	<div class="tblepla"> 
		<div class="tblepladt"> 
			<div class="tblebe"> 
				<p style="font-size:10pt; text-align:center; color:#999; font-family:arial; margin-top:5px;">
					<b>Destaque nas Buscas</b>
				</p>
			</div>
			<div class="tblebesepar"></div>

			<div class="tblebe2">
				<p style="font-size:10pt; text-align:center; color:#999; font-family: 'Ubuntu', sans-serif; margin-top:5px;">
					<b>--- </b>
				</p>
			</div>
			<div class="tblebesepar2"></div>

			<div class="tblebe"> 
				<p style="font-size:9pt; text-align:center; color:#069; font-family:arial; margin-top:5px;">
					Sempre em Destaque
				</p>
			</div>

			<div class="tblebesepar"></div>

			<div class="tblebe2">
				<p style="font-size:10pt; text-align:center; color:#999; font-family: 'Ubuntu', sans-serif; margin-top:5px;">
					<b>--- </b>
				</p>
			</div>
		</div>
		<div class="tblebesepar2"></div>
	</div>

	<div class="tblepla"> 
		<div style="background-color:#EFEFEF;"class="tblepladt"> 
			<div style="background-color:#EFEFEF;" class="tblebe"> 
				<p style="font-size:9pt; text-align:center; color:#999; font-family:arial; margin-top:5px;">
					<b>Fotos no Anúncio</b>
				</p>
			</div>

			<div class="tblebesepar"></div>

			<div style="background-color:#EFEFEF;" class="tblebe2">
				<p style="font-size:10pt; text-align:center; color:#999; font-family:arial; margin-top:5px;">
					<b>Até 5 Fotos</b>
				</p>
			</div>
			<div class="tblebesepar2"></div>

			<div style="background-color:#EFEFEF;" class="tblebe"> 
				<p style="font-size:10pt; text-align:center; color:#069; font-family:arial; margin-top:5px;">
					Até 12 Fotos
				</p>
			</div>
			
			<div class="tblebesepar"></div>

			<div style="background-color:#EFEFEF;"  class="tblebe2">
				<p style="font-size:10pt; text-align:center; color:#999; font-family: 'Ubuntu', sans-serif; margin-top:5px;">
					<b>--- </b>
				</p>
			</div>
		</div>

		<div class="tblebesepar2"></div>
	</div>

	<div class="tblepla"> 
		<div class="tblepladt"> 
			<div class="tblebe"> 
				<p style="font-size:9pt; text-align:center; color:#999;; font-family:arial; margin-top:5px;">
					<b>Página com outros anúncios</b>
				</p>
			</div>
			<div class="tblebesepar"></div>
			<div class="tblebe2">
				<p style="font-size:9pt; text-align:center; color:#999; font-family:arial; margin-top:5px;">
					<b> SIM </b>
				</p>
			</div>
			<div class="tblebesepar2"></div>

			<div class="tblebe"> 
				<p style="font-size:9pt; text-align:center; color:#069; font-family:arial; margin-top:5px;">
					Nenhum
				</p>
			</div>
			<div class="tblebesepar"></div>
			
			<div class="tblebe2">
				<p style="font-size:9pt; text-align:center; color:#999; font-family: 'Ubuntu', sans-serif; margin-top:5px;">
					<b>--- </b>
				</p>
			</div>
		</div>
		<div class="tblebesepar2"></div>
	</div>

	<div class="tblepla"> 
		<div style="background-color:#EFEFEF;"class="tblepladt"> 
			<div style="background-color:#EFEFEF;" class="tblebe"> 
				<p style="font-size:9pt; text-align:center; color:#999; font-family:arial; margin-top:5px;">
					<b>Caixa Postal</b>
				</p>
			</div>
			<div class="tblebesepar"></div>

			<div style="background-color:#EFEFEF;" class="tblebe2">
				<span style="background-image:url(/static/img/vs.png);" class="invxs"></span>
			</div>
			<div class="tblebesepar2"></div>

			<div style="background-color:#EFEFEF;" class="tblebe"> 
				<span style="background-image:url(/static/img/vs.png);" class="invxs"></span>
			</div>
			<div class="tblebesepar"></div>

			<div style="background-color:#EFEFEF;"  class="tblebe2">
				<p style="font-size:10pt; text-align:center; color:#999; font-family: 'Ubuntu', sans-serif; margin-top:5px;">
					<b>--- </b>
				</p>
			</div>
		</div>
		<div class="tblebesepar2"></div>
	</div>

	<div class="tblepla"> 
		<div class="tblepladt"> 
			<div class="tblebe"> 
				<p style="font-size:9pt; text-align:center; color:#999;; font-family:arial; margin-top:5px;">
					<b>Mapa de Localização</b>
				</p>
			</div>
			<div class="tblebesepar"></div>
			<div class="tblebe2">
				<span style="background-image:url(/static/img/vs.png);" class="invxs"></span>
			</div>
			<div class="tblebesepar2"></div>

			<div class="tblebe"> 
				<span style="background-image:url(/static/img/vs.png);" class="invxs"></span>
			</div>
			<div class="tblebesepar"></div>

			<div class="tblebe2">
				<p style="font-size:9pt; text-align:center; color:#999; font-family: 'Ubuntu', sans-serif; margin-top:5px;">
					<b>--- </b>
				</p>
			</div>
		</div>
		<div class="tblebesepar2"></div>
	</div>

	<div class="tblepla"> 
		<div style="background-color:#EFEFEF;"class="tblepladt">
			<div style="background-color:#EFEFEF;" class="tblebe"> 
				<p style="font-size:9pt; text-align:center; color:#999; font-family:arial; margin-top:5px;">
					<b>Avaliação</b>
				</p>
			</div>
			<div class="tblebesepar"></div>

			<div style="background-color:#EFEFEF;" class="tblebe2">
				<span style="background-image:url(/static/img/vs.png);" class="invxs"></span>
			</div>
			<div class="tblebesepar2"></div>

			<div style="background-color:#EFEFEF;" class="tblebe"> 
				<span style="background-image:url(/static/img/vs.png);" class="invxs"></span>
			</div>
			<div class="tblebesepar"></div>

			<div style="background-color:#EFEFEF;"  class="tblebe2">
				<p style="font-size:10pt; text-align:center; color:#999; font-family: 'Ubuntu', sans-serif; margin-top:5px;">
					<b>--- </b>
				</p>
			</div>
		</div>
		<div class="tblebesepar2"></div>
	</div>

	<div class="tblepla"> 
		<div class="tblepladt">
			<div class="tblebe">
				<p style="font-size:9pt; text-align:center; color:#999;; font-family:arial; margin-top:5px;">
					<b>Formulário de Contato</b>
				</p>
			</div>
			<div class="tblebesepar"></div>
			<div class="tblebe2">
				<span style="background-image:url(/static/img/vs.png);" class="invxs"></span>
			</div>
			<div class="tblebesepar2"></div>
			<div class="tblebe">
				<span style="background-image:url(/static/img/vs.png);" class="invxs"></span>
			</div>
			<div class="tblebesepar"></div>
			<div class="tblebe2">
				<p style="font-size:9pt; text-align:center; color:#999; font-family: 'Ubuntu', sans-serif; margin-top:5px;">
					<b>--- </b>
				</p>
			</div>
		</div>
		<div class="tblebesepar2"></div>
	</div>
	<div class="tblepla"> 
		<div style="background-color:#EFEFEF;"class="tblepladt">
			<div style="background-color:#EFEFEF;" class="tblebe"> 
				<p style="font-size:9pt; text-align:center; color:#999; font-family:arial; margin-top:5px;">
					<b>Campanhas / Ofertas </b>
				</p>
			</div>
			<div class="tblebesepar"></div>
			<div style="background-color:#EFEFEF;" class="tblebe2">
				<span style="background-image:url(/static/img/xs.png);" class="invxs"></span>
			</div>
			<div class="tblebesepar2"></div>

			<div style="background-color:#EFEFEF;" class="tblebe"> 
				<span style="background-image:url(/static/img/vs.png);" class="invxs"></span>
			</div>
			<div class="tblebesepar"></div>

			<div style="background-color:#EFEFEF;"  class="tblebe2">
				<p style="font-size:10pt; text-align:center; color:#999; font-family: 'Ubuntu', sans-serif; margin-top:5px;">
					<b>--- </b>
				</p>
			</div>
		</div>
		<div class="tblebesepar2"></div>
	</div>

	<div class="tblepla"> 
		<div class="tblepladt"> 
			<div class="tblebe"> 
				<p style="font-size:9pt; text-align:center; color:#999;; font-family:arial; margin-top:5px;">
					<b>Formulário de Orçamento </b>
				</p>
			</div>
			<div class="tblebesepar"></div>
			<div class="tblebe2">
				<span style="background-image:url(/static/img/xs.png);" class="invxs"></span>
			</div>
			<div class="tblebesepar2"></div>
			<div class="tblebe"> 
				<span style="background-image:url(/static/img/vs.png);" class="invxs"></span>
			</div>
			<div class="tblebesepar"></div>

			<div class="tblebe2">
				<p style="font-size:9pt; text-align:center; color:#999; font-family: 'Ubuntu', sans-serif; margin-top:5px;">
					<b>--- </b>
				</p>
			</div>
		</div>
		<div class="tblebesepar2"></div>
	</div>

	<div class="tblepla"> 
		<div style="background-color:#EFEFEF;"class="tblepladt"> 
			<div style="background-color:#EFEFEF;" class="tblebe"> 
				<p style="font-size:9pt; text-align:center; color:#999; font-family:arial; margin-top:5px;">
					<b>Dicas Rápidas </b>
				</p>
			</div>
			<div class="tblebesepar"></div>

			<div style="background-color:#EFEFEF;" class="tblebe2">
				<span style="background-image:url(/static/img/xs.png);" class="invxs"></span>
			</div>
			<div class="tblebesepar2"></div>

			<div style="background-color:#EFEFEF;" class="tblebe"> 
				<span style="background-image:url(/static/img/vs.png);" class="invxs"></span>
			</div>
			<div class="tblebesepar"></div>

			<div style="background-color:#EFEFEF;"  class="tblebe2">
				<p style="font-size:10pt; text-align:center; color:#999; font-family: 'Ubuntu', sans-serif; margin-top:5px;">
					<b>--- </b>
				</p>
			</div>
		</div>
		<div class="tblebesepar2"></div>
	</div>

	<div class="tblepla"> 
		<div class="tblepladt"> 
			<div class="tblebe"> 
				<p style="font-size:9pt; text-align:center; color:#999;; font-family:arial; margin-top:5px;">
					<b>Cupom de Descontos </b>
				</p>
			</div>
			<div class="tblebesepar"></div>
			<div class="tblebe2">
				<span style="background-image:url(/static/img/xs.png);" class="invxs"></span>
			</div>
			<div class="tblebesepar2"></div>
			<div class="tblebe"> 
				<span style="background-image:url(/static/img/vs.png);" class="invxs"></span>
			</div>
			<div class="tblebesepar"></div>

			<div class="tblebe2">
				<p style="font-size:9pt; text-align:center; color:#999; font-family: 'Ubuntu', sans-serif; margin-top:5px;">
					<b>--- </b>
				</p>
			</div>
		</div>
		<div class="tblebesepar2"></div>
	</div>

	<div class="tblepla"> 
		<div style="background-color:#EFEFEF;"class="tblepladt">
			<div style="background-color:#EFEFEF;" class="tblebe"> 
				<p style="font-size:9pt; text-align:center; color:#999; font-family:arial; margin-top:5px;">
					<b>Comentários</b>
				</p>
			</div>
			<div class="tblebesepar"></div>

			<div style="background-color:#EFEFEF;" class="tblebe2">
				<span style="background-image:url(/static/img/xs.png);" class="invxs"></span>
			</div>
			<div class="tblebesepar2"></div>

			<div style="background-color:#EFEFEF;" class="tblebe"> 
				<span style="background-image:url(/static/img/vs.png);" class="invxs"></span>
			</div>
			<div class="tblebesepar"></div>

			<div style="background-color:#EFEFEF;"  class="tblebe2">
				<p style="font-size:10pt; text-align:center; color:#999; font-family: 'Ubuntu', sans-serif; margin-top:5px;">
					<b>--- </b>
				</p>
			</div>
		</div>
		<div class="tblebesepar2"></div>
	</div>

	<div class="tblepla"> 
		<div class="tblepladt"> 
			<div class="tblebe"> 
				<p style="font-size:9pt; text-align:center; color:#999;; font-family:arial; margin-top:5px;">
					<b>Descrição Detalhada </b>
				</p>
			</div>
			<div class="tblebesepar"></div>

			<div class="tblebe2">
				<span style="background-image:url(/static/img/xs.png);" class="invxs"></span>
			</div>
			<div class="tblebesepar2"></div>

			<div class="tblebe"> 
				<span style="background-image:url(/static/img/vs.png);" class="invxs"></span>
			</div>
			<div class="tblebesepar"></div>

			<div class="tblebe2">
				<p style="font-size:9pt; text-align:center; color:#999; font-family: 'Ubuntu', sans-serif; margin-top:5px;">
					<b>--- </b>
				</p>
			</div>
		</div>
		<div class="tblebesepar2"></div>
	</div>

	<div class="tblepla"> 
		<div style="background-color:#EFEFEF;"class="tblepladt"> 
			<div style="background-color:#EFEFEF;" class="tblebe"> 
				<p style="font-size:9pt; text-align:center; color:#999; font-family:arial; margin-top:5px;">
					<b>Interaçao com Rede Sociais </b>
				</p>
			</div>
			<div class="tblebesepar"></div>

			<div style="background-color:#EFEFEF;" class="tblebe2">
				<span style="background-image:url(/static/img/xs.png);" class="invxs"></span>
			</div>
			<div class="tblebesepar2"></div>
			<div style="background-color:#EFEFEF;" class="tblebe"> 
				<span style="background-image:url(/static/img/vs.png);" class="invxs"></span>
			</div>
			<div class="tblebesepar"></div>

			<div style="background-color:#EFEFEF;"  class="tblebe2">
				<p style="font-size:10pt; text-align:center; color:#999; font-family: 'Ubuntu', sans-serif; margin-top:5px;">
					<b>--- </b>
				</p>
			</div>
		</div>
		<div class="tblebesepar2"></div>
	</div>

	<div class="tblepla"> 
		<div class="tblepladt"> 
			<div class="tblebe"> 
				<p style="font-size:9pt; text-align:center; color:#999;; font-family:arial; margin-top:5px;">
					<b>Relatórios </b>
				</p>
			</div>
			<div class="tblebesepar"></div>

			<div class="tblebe2">
				<span style="background-image:url(/static/img/xs.png);" class="invxs"></span>
			</div>
			<div class="tblebesepar2"></div>

			<div class="tblebe"> 
				<span style="background-image:url(/static/img/vs.png);" class="invxs"></span>
			</div>
			<div class="tblebesepar"></div>

			<div class="tblebe2">
				<p style="font-size:9pt; text-align:center; color:#999; font-family: 'Ubuntu', sans-serif; margin-top:5px;">
					<b>--- </b>
				</p>
			</div>
		</div>
		<div class="tblebesepar2"></div>
	</div>
</div>

<div class="vintagge"> 
	<div class="txtpqinfo">
		<p style="text-align:center; color:#09C; font-size:30pt; font-family: 'Ubuntu', sans-serif;"> 5 Motivos para Anunciar no Info</p>
	</div>

	<div class="ttlepq">   
		<div class="icttlq"></div>
		<p style="color:#F93; font-size:18pt; font-family: 'Ubuntu', sans-serif; margin-left:10px; float:left;">
			1 - Seu Negócio em Destaque
		</p>
	</div>
	<p style="margin:45px; font-family: 'Open Sans', sans-serif; font-size:10pt; color:#666;">
		O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500, quando uma misturou os caracteres de um texto para criar um espécime de livro. Este texto não só sobreviveu 5 séculos, mas também o salto para a tipografia electrónica, mantendo-se essencialmente inalterada. Foi popularizada nos anos 60 com a disponibilização das folhas de Letraset, que continham passagens com Lorem Ipsum, e mais recentemente com os programas de publicação como o Aldus PageMaker que incluem versões do Lorem Ipsum.
	</p>
 	<div class="ttlepq2">
		<div class="icttlq"></div>
		<p style="color:#F93; font-size:18pt; font-family: 'Ubuntu', sans-serif; margin-left:10px; float:left;">
			2 - Seu Negócio em Destaque
		</p>
	</div>
	<p style="margin:45px; font-family: 'Open Sans', sans-serif; font-size:10pt; color:#666;">
		O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500, quando uma misturou os caracteres de um texto para criar um espécime de livro. Este texto não só sobreviveu 5 séculos, mas também o salto para a tipografia electrónica, mantendo-se essencialmente inalterada. Foi popularizada nos anos 60 com a disponibilização das folhas de Letraset.
	</p>   
	
	<div class="ttlepq2">
		<div class="icttlq"></div>
		<p style="color:#F93; font-size:18pt; font-family: 'Ubuntu', sans-serif; margin-left:10px; float:left;">
			3 - Seu Negócio em Destaque
		</p>
	</div>
	<p style="margin:45px; font-family: 'Open Sans', sans-serif; font-size:10pt; color:#666;">
		O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias.
	</p>
	<div class="ttlepq2">
		<div class="icttlq"></div>
		<p style="color:#F93; font-size:18pt; font-family: 'Ubuntu', sans-serif; margin-left:10px; float:left;">
			4 - Seu Negócio em Destaque
		</p>
	</div>
	<p style="margin:45px; font-family: 'Open Sans', sans-serif; font-size:10pt; color:#666;">
		O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500, quando uma misturou os caracteres de um texto para criar um espécime de livro. Este texto não só sobreviveu 5 séculos..
	</p>

	<div class="ttlepq2">
		<div class="icttlq"></div>
		<p style="color:#F93; font-size:18pt; font-family: 'Ubuntu', sans-serif; margin-left:10px; float:left;">
			5 - Seu Negócio em Destaque
		</p>
	</div>

	<p style="margin:45px; font-family: 'Open Sans', sans-serif; font-size:10pt; color:#666;">
		O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500, quando uma misturou os caracteres de um texto para criar um espécime de livro.
	</p>
</div><!-- FIM BOX DOS PLANOS -->  

<div class="separcont"></div>
</div> <!-- FIM DIV QUE CENTRALIZA --> 
{% endblock conteudo %}