<div style="background-image:url(/static/img/{{estado}}.jpg); margin-top:70px; " id="templatemo-carousel" class="carousel slide" data-ride="carousel"> 
	<div class="text-area-est"> <!-- COLOCAR CONTEUDO DENTRO DO BG RESPONSIVO <!-->
		<div class="text-apres">
			<p style=" color:#FFF; font-family: 'Ubuntu', sans-serif;">
				<strong>Bem Vindo ao InfoNegócio <span style="color:#FC0;"> {{estado}} </span> </strong><br>
				<hr>
				<span style="font-size:23px; color:#FFF;">Encontre Empresas, Comércios, Serviços, Ofertas e Atrações para Toda Família.  </span>
			</p>
		</div>
	</div> <!-- fim COLOCAR CONTEUDO DENTRO DO BG RESPONSIVO <!-->
</div>  <!-- BG DA CIDADE <!-->