<div class="porc"> 
	<div class="oferta-bot"> <!-- OFERTA BOTSTRAP <!-->
		<div style="margin-top:18px;" class="oferta-bot-amarra"><!--DIV QUE AMARRA O BOTSTRAP DA OFERTA<!-->
			<div class="row-fluid">
				<div class="span12">
					<div class="carousel slide" id="myCarousel">
						<div class="carousel-inner">
							
							<!-- primeira box oferta -->
							<div class="item active">
								<ul class="thumbnails">
									{% for anuncio in bot1 %}
										
										<li class="span3"> <!-- BOX OFERTA UF <!-->
										<a target="_blank" title="Ver Oferta." href="/anuncio_gratis/{{anuncio.id}}/">
											<div class="thumbnail">
												<img style="width:217px; height:145px;" src="/media/{{anuncio.imagem}}"> <!-- IMG DO OFERTANTE <!-->
											</div>
											<div class="caption">
												<h4 style="text-align:center; margin-top:-10px; font-family: 'Ubuntu', sans-serif; color:#F60;">
													{{anuncio.nome_empresa}}  
												</h4>

												<p style="margin:10px; text-align:center; color:#666; font-size:12px;">
													{{anuncio.descricao_empresa}}
												</p>
											</div>
												<div class="readmor">
													<div class="readmotxt"> 
														<p style="font-family: 'Ubuntu', sans-serif; text-align:center; font-size:16px; color:#FFF; margin-top:6px;">
															VER OFERTA 
														</p>
													</div>
													<div class="iconmor">
													</div>
												</div>
											</a> 
										</li> <!-- FIM BOX OFERTA UF <!-->
										
									{% endfor %}
									
								</ul>
							</div>
							<!-- fim primeira box oferta -->

							<div class="item">
								<ul class="thumbnails">
									<li class="span3"> <!-- BOX OFERTA UF <!-->
										<div class="thumbnail">
											<img src="/static/img/ofertas/01.jpg" alt=""> <!-- IMG DO OFERTANTE <!-->
										</div>
										<div class="caption">
											<h4 style="text-align:center; margin-top:-10px; font-family: 'Ubuntu', sans-serif; color:#F60;">
												Pizzaria  
											</h4>
											<p style="margin:10px; text-align:center; color:#666; font-size:12px;">
												Venha Saborear o Festival de Pizzas Doces na Sexta do Feriadão da Pizzarias  . Coma a Vontade!!!
											</p>
										</div>
										<a target="_blank" title="Ver Oferta." href="#">
											<div class="readmor">
												<div class="readmotxt"> 
													<p style="font-family: 'Ubuntu', sans-serif; text-align:center; font-size:16px; color:#FFF; margin-top:6px;">
														VER OFERTA
													</p>
												</div>  
												<div class="iconmor">
												</div>
											</div>
										</a>
									</li> <!-- FIM BOX OFERTA UF <!-->
									<li class="span3"> <!-- BOX OFERTA UF <!-->
										<div class="thumbnail">
											<img src="/static/img/ofertas/02.jpg" alt=""> <!-- IMG DO OFERTANTE <!-->
										</div>
										<div class="caption">
											<h4 style="text-align:center; margin-top:-10px; font-family: 'Ubuntu', sans-serif; color:#F60;">
												Pizzaria  
											</h4>
											<p style="margin:10px; text-align:center; color:#666; font-size:12px;">
												Venha Saborear o Festival de Pizzas Doces na Sexta do Feriadão da Pizzarias  . Coma a Vontade!!!
											</p>
										</div>
										<a target="_blank" title="Ver Oferta." href="#">
											<div class="readmor">
												<div class="readmotxt"> 
													<p style="font-family: 'Ubuntu', sans-serif; text-align:center; font-size:16px; color:#FFF; margin-top:6px;"> 
														VER OFERTA
													</p>
												</div>  
												<div class="iconmor">
												</div>
											</div>
										</a> 
									</li> <!-- FIM BOX OFERTA UF <!-->

									<li class="span3"> <!-- BOX OFERTA UF <!-->
										<div class="thumbnail">
											<img src="/static/img/ofertas/03.jpg" alt=""> <!-- IMG DO OFERTANTE <!-->
										</div>
										<div class="caption">
											<h4 style="text-align:center; margin-top:-10px; font-family: 'Ubuntu', sans-serif; color:#F60;">
												Pizzaria  
											</h4>
											<p style="margin:10px; text-align:center; color:#666; font-size:12px;">
												Venha Saborear o Festival de Pizzas Doces na Sexta do Feriadão da Pizzarias  . Coma a Vontade!!!
											</p>
										</div>
										<a target="_blank" title="Ver Oferta." href="#">
											<div class="readmor">
												<div class="readmotxt"> 
													<p style="font-family: 'Ubuntu', sans-serif; text-align:center; font-size:16px; color:#FFF; margin-top:6px;"> 
														VER OFERTA
													</p>
												</div>
												<div class="iconmor">
												</div>
											</div>
										</a> 
									</li> <!-- FIM BOX OFERTA UF <!-->

									<li class="span3"> <!-- BOX OFERTA UF <!-->
										<div class="thumbnail">
											<img src="/static/img/ofertas/04.jpg" alt=""> <!-- IMG DO OFERTANTE <!-->
										</div>
										<div class="caption">
											<h4 style="text-align:center; margin-top:-10px; font-family: 'Ubuntu', sans-serif; color:#F60;">
												Pizzaria  
											</h4>
											<p style="margin:10px; text-align:center; color:#666; font-size:12px;">
												Venha Saborear o Festival de Pizzas Doces na Sexta do Feriadão da Pizzarias  . Coma a Vontade!!!
											</p>
										</div>
										<a target="_blank" title="Ver Oferta." href="#">
											<div class="readmor">
												<div class="readmotxt"> 
													<p style="font-family: 'Ubuntu', sans-serif; text-align:center; font-size:16px; color:#FFF; margin-top:6px;"> 
														VER OFERTA
													</p>
												</div>  
												<div class="iconmor">
												</div>
											</div>
										</a> 
									</li> <!-- FIM BOX OFERTA UF <!-->
								</ul>
							</div><!-- /Slide2 -->

							<div class="item">
								<ul class="thumbnails">
									<li class="span3"> <!-- BOX OFERTA UF <!-->
										<div class="thumbnail">
											<img src="/static/img/ofertas/01.jpg" alt=""> <!-- IMG DO OFERTANTE <!-->
										</div>
										<div class="caption">
											<h4 style="text-align:center; margin-top:-10px; font-family: 'Ubuntu', sans-serif; color:#F60;">
												Pizzaria  
											</h4>
											<p style="margin:10px; text-align:center; color:#666; font-size:12px;">
												Venha Saborear o Festival de Pizzas Doces na Sexta do Feriadão da Pizzarias  . Coma a Vontade!!!
											</p>
										</div>
										<a target="_blank" title="Ver Oferta." href="#">
											<div class="readmor">
												<div class="readmotxt"> 
													<p style="font-family: 'Ubuntu', sans-serif; text-align:center; font-size:16px; color:#FFF; margin-top:6px;"> 
														VER OFERTA</p>
													</div>
												<div class="iconmor">
												</div>
											</div>
										</a> 
									</li> <!-- FIM BOX OFERTA UF <!-->

									<li class="span3"> <!-- BOX OFERTA UF <!-->
										<div class="thumbnail">
											<img src="/static/img/ofertas/02.jpg" alt=""> <!-- IMG DO OFERTANTE <!-->
										</div>
										<div class="caption">
											<h4 style="text-align:center; margin-top:-10px; font-family: 'Ubuntu', sans-serif; color:#F60;">
												Pizzaria  
											</h4>
												<p style="margin:10px; text-align:center; color:#666; font-size:12px;">
													Venha Saborear o Festival de Pizzas Doces na Sexta do Feriadão da Pizzarias  . Coma a Vontade!!!
												</p>
										</div>
										<a target="_blank" title="Ver Oferta." href="#">
											<div class="readmor">
												<div class="readmotxt"> 
													<p style="font-family: 'Ubuntu', sans-serif; text-align:center; font-size:16px; color:#FFF; margin-top:6px;"> 
														VER OFERTA
													</p>
												</div>  
												<div class="iconmor">
												</div>
											</div>
										</a> 
									</li> <!-- FIM BOX OFERTA UF <!-->

									<li class="span3"> <!-- BOX OFERTA UF <!-->
										<div class="thumbnail">
											<img src="/static/img/ofertas/03.jpg" alt=""> <!-- IMG DO OFERTANTE <!-->
										</div>
										<div class="caption">
											<h4 style="text-align:center; margin-top:-10px; font-family: 'Ubuntu', sans-serif; color:#F60;">
												Pizzaria  
											</h4>
											<p style="margin:10px; text-align:center; color:#666; font-size:12px;">
												Venha Saborear o Festival de Pizzas Doces na Sexta do Feriadão da Pizzarias  . Coma a Vontade!!!
											</p>
										</div>
										<a target="_blank" title="Ver Oferta." href="#">
											<div class="readmor">
												<div class="readmotxt"> 
													<p style="font-family: 'Ubuntu', sans-serif; text-align:center; font-size:16px; color:#FFF; margin-top:6px;"> 
														VER OFERTA
													</p>
												</div>  
												<div class="iconmor">
												</div>
											</div>
										</a> 
									</li> <!-- FIM BOX OFERTA UF <!-->

									<li class="span3"> <!-- BOX OFERTA UF <!-->
										<div class="thumbnail">
											<img src="/static/img/ofertas/04.jpg" alt=""> <!-- IMG DO OFERTANTE <!-->
										</div>
										<div class="caption">
											<h4 style="text-align:center; margin-top:-10px; font-family: 'Ubuntu', sans-serif; color:#F60;">
												Pizzaria  
											</h4>
											<p style="margin:10px; text-align:center; color:#666; font-size:12px;">
												Venha Saborear o Festival de Pizzas Doces na Sexta do Feriadão da Pizzarias  . Coma a Vontade!!!
											</p>
										</div>
										<a target="_blank" title="Ver Oferta." href="#">
											<div class="readmor">
												<div class="readmotxt"> 
													<p style="font-family: 'Ubuntu', sans-serif; text-align:center; font-size:16px; color:#FFF; margin-top:6px;"> 
														VER OFERTA
													</p>
												</div>  
												<div class="iconmor"></div>
											</div>
										</a> 
									</li> <!-- FIM BOX OFERTA UF <!-->
								</ul>
							</div><!-- /Slide3 --> 
						</div>
					</div><!-- /#myCarousel -->
				</div><!-- /.span12 -->
			</div><!-- /.row -->
		</div> <!-- FIM DIV QUE AMARRA O BOTSTRAP DA OFERTA <!-->
	</div> <!-- FIM OFERTA BOTSTRAP <!-->
</div>

{% include "conteudo_home.html" %}