<div class="sider-ctg-rapd">  <!-- SIDER ONDE FICA CONTEUDO DOS ESTADOS E CATEGORIAS RAPIDAS <!-->
	<div class="cont-cima-coment">
		<a target="_blank" title="Conheça Nossos Planos!" href="/planos"> <div class="plan-promo"> </div> </a>					 				
	</div>
							
	<div class="info-cmt">  <!-- NOVOS ANUNCIOS <!-->		
		<div class="promogastro"> 
			<!-- PROMO DO SITE QUE ANUNCIARA GASTRONOMIA <!-->
			<div class="grid">
				<figure class="effect-goliath">
					<img src="/static/img/23.jpg" alt="img23">
					<figcaption>
						<h2 style="font-family: 'Titillium Web', sans-serif;">Gastronomia <span style="font-family: 'Ubuntu', sans-serif;">LOCAL</span></h2> 
							<p>Os Melhores Restaurantes de {{estado}}</p>
					</figcaption>			
				</figure>
			</div>
		</div>  <!-- FIM PROMO DO SITE QUE ANUNCIARA GASTRONOMIA <!-->

 		<!-- PROMO DO SITE QUE ANUNCIARA TURISMO <!-->
		<div class="prom-hot"> 
			<div class="grid">
				<figure class="effect-goliath">
					<img src="/static/img/24.jpg" alt="img24">
					<figcaption>
						<h2 style="font-family: 'Titillium Web', sans-serif;"> SEU GUIA DE <span style="font-family: 'Ubuntu', sans-serif;">TURISMO</span></h2> 
						<p>Hoteis, Pousadas e muitas atrações para Relaxar.</p>
					</figcaption>
				</figure>
			</div>
		</div>  
 		<!-- FIM PROMO DO SITE QUE ANUNCIARA TURISMO <!-->	

		<div class="promo-ing"> 
			<div class="icn-info-opert"> </div>
			<div class="info-opert">  <!-- AQUI FICA O CONTADOR DE OFERTAS E ANUNCIOS DO ESTADO <!-->
				<p style="margin-top:20px;">Em <span style="font-family: 'Ubuntu', sans-serif;">{{estado}} </span> São Mais de <span style="font-family: 'Ubuntu', sans-serif;"> 154332 </span> Anúncios<br>e<span style="font-family: 'Ubuntu', sans-serif;">25324 </span> Ofertas Disponíveis </p>
			</div> <!-- FIM AQUI FICA O CONTADOR DE OFERTAS E ANUNCIOS DO ESTADO <!-->
		</div> 		
	</div>  <!-- FIM NOVOS ANUNCIOS <!-->
				
	<a title="Confira Nossas Dicas de Lazer." target="_blank" href="#"> <div class="cont-promo"> </div> </a><!-- O ESTADO TEM, DICAS DE LAZER <!-->				
	<div class="busca-rapid">    <!-- CATEGO MAIS ACESSADAS <!-->
		<div class="nam-mais-acess"> 
			<p style="color:#666; text-align:center; font-size:14pt; margin-top:10px;">Categorias Mais Populares </p>    
		</div>
						
		<div class="icons-ctgg"> 
			<a title="Lojas e Compras" style="text-decoration:none; color:#333;" href="#"></a>

			<div style="background-image:url(/static/img/categoria-filtro/shop.png);" class="boxone">
				<a title="Lojas e Compras" style="text-decoration:none; color:#333;" href="#"></a>
				<p style=" text-align:center; margin-top:60px; font-size:10px;">
					<a title="Lojas e Compras" style="text-decoration:none; color:#333;" href="#">
						<strong>  Shops, Lojas &amp; Compras </strong>
					</a>
				</p>
			</div>

			<a title="Restaurantes e Comedorias" style="text-decoration:none; color:#333;" href="#">
			</a>
			<div style="background-image:url(/static/img/categoria-filtro/res.png);" class="boxone">
				<a title="Restaurantes e Comedorias" style="text-decoration:none; color:#333;" href="#">
				</a>
				<p style=" text-align:center; margin-top:60px; font-size:10px;">
					<a title="Restaurantes e Comedorias" style="text-decoration:none; color:#333;" href="#">
						<strong>  Restaurantes <br>&amp; Comedorias </strong>
					</a>
				</p>
			</div>

			<a title="Bares e Botecos" style="text-decoration:none; color:#333;" href="#">
			</a>
			<div style="background-image:url(/static/img/categoria-filtro/bar.png);" class="boxone">
				<a title="Bares e Botecos" style="text-decoration:none; color:#333;" href="#">
				</a>
				<p style=" text-align:center; margin-top:60px; font-size:10px;">
					<a title="Bares e Botecos" style="text-decoration:none; color:#333;" href="#">
						<strong>  Bares  <br> &amp; Botecos </strong>
					</a>
				</p>
			</div>

			<a title="Beleza e Estética" style="text-decoration:none; color:#333;" href="#">
				<div style="background-image:url(/static/img/categoria-filtro/bel.png);" class="boxone"> 
					<p style=" text-align:center; margin-top:60px; font-size:10px;">
						<strong> Beleza &amp; <br>Estética </strong>
					</p>
				</div>
			</a>

			<a title="Festas e Eventos" style="text-decoration:none; color:#333;" href="#">
				<div style="background-image:url(/static/img/categoria-filtro/fes.png);" class="boxone"> 
					<p style=" text-align:center; margin-top:60px; font-size:10px;">
						<strong> <br> &amp; Eventos </strong>
					</p>
				</div>
			</a>
		</div>		
	
		<div class="icons-ctgg"> 

			<a title="Serviços em Geral" style="text-decoration:none; color:#333;" href="#"> 
				<div style="background-image:url(/static/img/categoria-filtro/serv.png);" class="boxone"> 
					<p style=" text-align:center; margin-top:60px; font-size:10px;">
						<strong> Serviços <br> em Geral </strong>
					</p>
				</div>
			</a>

			<a title="Lazer e Diversão" style="text-decoration:none; color:#333;" href="#">
				<div style="background-image:url(/static/img/categoria-filtro/la.png)" class="boxone">
					<p style=" text-align:center; margin-top:60px; font-size:10px;">
						<strong>  Lazer  <br>&amp; Diversão </strong>
					</p>
				</div>
			</a>

			<a title="Hoteis e Viagens" style="text-decoration:none; color:#333;" href="#">
				<div style="background-image:url(/static/img/categoria-filtro/mal.png);" class="boxone">
					<p style=" text-align:center; margin-top:60px; font-size:10px;">
						<strong>  Hoteis <br> &amp; Viagens </strong>
					</p>
				</div>
			</a>

			<a title="Saúde e Bem-Estar" style="text-decoration:none; color:#333;" href="#">
				<div style="background-image:url(/static/img/categoria-filtro/sau.png);" class="boxone"> 
					<p style=" text-align:center; margin-top:60px; font-size:10px;">
						<strong>  Saúde &amp; <br>Bem-Estar </strong>
					</p>
				</div>
			</a>

			<a title="Todas as Categorias" style="text-decoration:none; color:#333;" href="#">
				<div style="background-image:url(/static/img/categoria-filtro/mas.png);" class="boxone">
					<p style=" text-align:center; margin-top:60px; font-size:10px;">
						<strong>  Todas as <br> Categorias </strong>
					</p>
				</div>
			</a>
		</div>        
	</div> <!-- CATEGO MAIS ACESSADAS <!-->
	{% include "carrousel.html" %}
</div>