{% load staticfiles %}

<html>
<head>
	<title>Info-Negócio Brasil</title>
	<link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">

	{% block css %}
		<link rel="stylesheet" type="text/css" href={% static "css/bootstrap.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/responsivo.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/master.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/master-interna.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/set2.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/ofertabot.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/jquery-ui.css" %}>
	{% endblock css %}

	{% block js %}
		<script type="text/javascript" src={% static "js/jquery-1.10.2.min.js" %}></script>
		<script type="text/javascript" src={% static "js/bootstrap.min.js" %}></script>
		<script type="text/javascript" src={% static "js/ga.js" %}></script>
		<script type="text/javascript" src={% static "js/jquery-ui.js" %}></script>
		<script type="text/javascript" src={% static "js/autocomplete_cidades.js" %}></script>
	{% endblock js %}
</head>
<body>
	{% block cabecalho %}
		{% include "cabecalho.html" %}
	{% endblock cabecalho %}
	{% block conteudo %}
	{% endblock conteudo %}
	{% block rodape %}
		{% include "rodape.html" %}
	{% endblock rodape %}
</body>
</html>