{% load staticfiles %}

<html>
<head>
	<title>Info-Negócio Brasil</title>
	<link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">

	{% block css %}
		<link rel="stylesheet" type="text/css" href={% static "css/bootstrap.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/set2.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/ofertabot.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/painel-usuario.css" %}>
	{% endblock css %}

	{% block js %}
		<script type="text/javascript" src={% static "js/jquery-1.10.2.min.js" %}></script>
		<script type="text/javascript" src={% static "js/bootstrap.min.js" %}></script>
		<script type="text/javascript" src={% static "js/ga.js" %}></script>
		<script type="text/javascript" src={% static "js/estados_cidades.js" %}></script>
		<script type="text/javascript" src={% static "js/cidades-estados-1.2-utf8.js" %}></script>
		
	{% endblock js %}
</head>
<body>
	{% block cabecalho %}
		{% include "cabecalho_interno.html" %}
	{% endblock cabecalho %}

	{% block conteudo %}
	{% endblock conteudo %}
	
	{% block rodape %}
		{% include "rodape_interno.html" %}
	{% endblock rodape %}
</body>
</html>