<div class="nav-topo">
	<div class="sidertopp">   <!-- SIDEBAR DO TOPO -->
		<a title="Principal" href="index.html">
			<div class="logo"></div>
		</a>
		<div class="nmond">
			<span style="color:#FFF; font-family: 'Ubuntu', sans-serif; font-size:10pt; text-shadow: 0 0 3px rgba(0,0,0,.25);">
				Cidade:
			</span>
		</div>

		<div class="estado23"> 
			<label>
				<input id="cidade" type="text" class="form-control2" name="cidade" placeholder='Ex: Recife'>
			</label>
		</div>

		<div class="nmond2">
			<span style="color:#FFF; font-family: 'Ubuntu', sans-serif; font-size:10pt; text-shadow: 0 0 3px rgba(0,0,0,.25);">
				O que:
			</span>
		</div>        
		
		<div class="estado24">
			<form method="POST" id="search2" action=".">
				<input id="busca" type="text" class="search2" name="busca" placeholder='Ex: Pizzaria, Eletricista Etc..'>
				<button title="Buscar no site" type="submit">Submit</button>
			</form>
		</div>

		<div class="entrar-log">
			<a style="border:none;" title="Cadastre-se Grátis!" href="#"> 
				<div class="cadastre-se2"></div>
			</a>
		</div>
	</div>

	<div class="categorias">  <!-- CATEGORIAS -->
		<div style="margin:auto;" class="categorias-amarra"> 
			<div id="menu-wrapper">
				<ul style="margin-left:8px;"  class="nav2">
					<li>
						<a href="">
							<div style="margin-top:8px; background-image:url(/static/img/icnmn.png);" class="iconssd"></div>
							Abrir Categorias
						</a>
						<div>
						<div style="width:240px; margin-left:15px;" class="nav2-column">
							<ul>
								<div style="background-image:url(/static/img/icns-categ/0.png); margin-top:6px;" class="icon-ctg"></div>
								<li>
									<a style="color:#666; font-family: 'Open Sans', sans-serif;" href="#">
										Academias 
										<span style="color:#066">(18)</span>
									</a>
								</li>
								<div style="background-image:url(/static/img/icns-categ/1.png); margin-top:6px;" class="icon-ctg">
								</div>

								<li>
									<a style="color:#666; font-family: 'Open Sans', sans-serif;" href="#">
										Animais 
										<span style="color:#066">(8)</span>
									</a>
								</li>

								<div style="background-image:url(/static/img/icns-categ/2.png); margin-top:6px;" class="icon-ctg"></div>
								<li>
									<a style="color:#666; font-family: 'Open Sans', sans-serif;" href="#">
										Assistencia Téc.
										<span style="color:#066">(18)</span>
									</a>
								</li>

								<div style="background-image:url(/static/img/icns-categ/3.png); margin-top:6px;" class="icon-ctg"></div>
								<li>
									<a style="color:#666; font-family: 'Open Sans', sans-serif;" href="#">
										Beleza/Estética
										<span style="color:#066">(18)</span>
									</a>
								</li>

								<div style="background-image:url(/static/img/icns-categ/4.png); margin-top:6px;" class="icon-ctg"></div>
								<li>
									<a style="color:#666; font-family: 'Open Sans', sans-serif;" href="#">
										Bares e Botecos 
										<span style="color:#066">(18)</span>
									</a>
								</li>

								<div style="background-image:url(/static/img/icns-categ/5.png); margin-top:6px;" class="icon-ctg"></div>
								<li>
									<a style="color:#666; font-family: 'Open Sans', sans-serif;" href="#">
										Bebês e Crianças
										<span style="color:#066">(18)</span>
									</a>
								</li>

								<div style="background-image:url(/static/img/icns-categ/6.png); margin-top:6px;" class="icon-ctg"></div>
								<li>
									<a style="color:#666; font-family: 'Open Sans', sans-serif;" href="#">
										Comunicação 
										<span style="color:#066">(18)</span>
									</a>
								</li>

								<div style="background-image:url(/static/img/icns-categ/7.png); margin-top:6px;" class="icon-ctg"></div>
								<li>
									<a style="color:#666; font-family: 'Open Sans', sans-serif;" href="#">
										Consultorias
										<span style="color:#066">(18)</span>
									</a>
								</li>

								<div style="background-image:url(/static/img/icns-categ/8.png); margin-top:6px;" class="icon-ctg"></div>
								<li>
									<a style="color:#666; font-family: 'Open Sans', sans-serif;" href="#">
										Educação
										<span style="color:#066">(18)</span>
									</a>
								</li>

								<div style="background-image:url(/static/img/icns-categ/9.png); margin-top:6px;" class="icon-ctg"></div>
								<li>
									<a style="color:#666; font-family: 'Open Sans', sans-serif;" href="#">
										Escritórios 
										<span style="color:#066">(18)</span>
									</a>
								</li>

								<div style="background-image:url(/static/img/icns-categ/10.png); margin-top:6px;" class="icon-ctg"></div>
								<li>
									<a style="color:#666; font-family: 'Open Sans', sans-serif;" href="#">
										Esportes 
										<span style="color:#066">(18)</span>
									</a>
								</li>

								<div style="background-image:url(/static/img/icns-categ/11.png); margin-top:6px;" class="icon-ctg"></div>
								<li>
									<a style="color:#666; font-family: 'Open Sans', sans-serif;" href="#">
										Festas e Eventos 
										<span style="color:#066">(18)</span>
									</a>
								</li>
							</ul>
						</div>

						<div style="width:240px; margin-left:15px;" class="nav2-column">
							<ul>
								<div style="background-image:url(/static/img/icns-categ/12.png); margin-top:6px;" class="icon-ctg"></div>
								<li>
									<a style="color:#666; font-family: 'Open Sans', sans-serif;" href="#">
										Gráficas 
										<span style="color:#066">(18)</span>
									</a>
								</li>

								<div style="background-image:url(/static/img/icns-categ/18.png); margin-top:6px;" class="icon-ctg"></div>
								<li>
									<a style="color:#666; font-family: 'Open Sans', sans-serif;" href="#">
										Hoteis/Moteis
										<span style="color:#066">(8)</span>
									</a>
								</li>

								<div style="background-image:url(/static/img/icns-categ/13.png); margin-top:6px;" class="icon-ctg"></div>
								<li>
									<a style="color:#666; font-family: 'Open Sans', sans-serif;" href="#">
										Hobbies 
										<span style="color:#066">(18)</span>
									</a>
								</li>

								<div style="background-image:url(/static/img/icns-categ/14.png); margin-top:6px;" class="icon-ctg"></div>
								<li>
									<a style="color:#666; font-family: 'Open Sans', sans-serif;" href="#">
										Imóveis
										<span style="color:#066"> (18) </span>
									</a>
								</li>

								<div style="background-image:url(/static/img/icns-categ/15.png); margin-top:6px;" class="icon-ctg"></div>
								<li>
									<a style="color:#666; font-family: 'Open Sans', sans-serif;" href="#">
										Informática
										<span style="color:#066">(18)</span>
									</a>
								</li>

								<div style="background-image:url(/static/img/icns-categ/16.png); margin-top:6px;" class="icon-ctg"></div>
								<li>
									<a style="color:#666; font-family: 'Open Sans', sans-serif;" href="#">
										Lazer
										<span style="color:#066">(18)</span>
									</a>
								</li>

								<div style="background-image:url(/static/img/icns-categ/20.png); margin-top:6px;" class="icon-ctg"></div>
								<li>
									<a style="color:#666; font-family: 'Open Sans', sans-serif;" href="#">
										Lanchonetes
										<span style="color:#066">(18)</span>
									</a>
								</li>

								<div style="background-image:url(/static/img/icns-categ/17.png); margin-top:6px;" class="icon-ctg"></div>
								<li>
									<a style="color:#666; font-family: 'Open Sans', sans-serif;" href="#">
										Lojas e Varejo
										<span style="color:#066">(18)</span>
									</a>
								</li>

								<div style="background-image:url(/static/img/icns-categ/2.png); margin-top:6px;" class="icon-ctg"></div>
								<li>
									<a style="color:#666; font-family: 'Open Sans', sans-serif;" href="#">
										Oficinas
										<span style="color:#066">(18)</span>
									</a>
								</li>

								<div style="background-image:url(/static/img/icns-categ/20.png); margin-top:6px;" class="icon-ctg"></div>
								<li>
									<a style="color:#666; font-family: 'Open Sans', sans-serif;" href="#">
										Pizzarias 
										<span style="color:#066">(18)</span>
									</a>
								</li>

								<div style="background-image:url(/static/img/icns-categ/19.png); margin-top:6px;" class="icon-ctg"></div>
								<li>
									<a style="color:#666; font-family: 'Open Sans', sans-serif;" href="#">
										Restaurantes
										<span style="color:#066">(18)</span>
									</a>
								</li>

								<div style="background-image:url(/static/img/icns-categ/2.png); margin-top:6px;" class="icon-ctg"></div>
								<li>
									<a style=" color:#666; font-family: 'Open Sans', sans-serif;" href="#">
										Serviços
										<span style="color:#066">(18)</span>
									</a>
								</li>
							</ul>
						</div>

<div style="width:240px; margin-left:15px;" class="nav2-column">
<ul>

<div style="background-image:url(/static/img/icns-categ/21.png); margin-top:6px;" class="icon-ctg"> </div> <li><a style="color:#666; font-family: 'Open Sans', sans-serif;" href="#">Saúde/Bem-Estar 
<span style="color:#066"> (18) </span></a></li>


<div style="background-image:url(/static/img/icns-categ/21.png); margin-top:6px;" class="icon-ctg"> </div> <li><a style="color:#666; font-family: 'Open Sans', sans-serif;" href="#">Serv. Automotivos 
<span style="color:#066"> (18) </span></a></li>


<div style="background-image:url(/static/img/icns-categ/22.png); margin-top:6px;" class="icon-ctg"> </div> <li><a style="color:#666; font-family: 'Open Sans', sans-serif;" href="#">Transportes
<span style="color:#066"> (8) </span></a></li>


<div style="background-image:url(/static/img/icns-categ/23.png); margin-top:6px;" class="icon-ctg"> </div> <li><a style="color:#666; font-family: 'Open Sans', sans-serif;" href="#">Turismo
<span style="color:#066"> (18) </span></a></li>

<div style="background-image:url(/static/img/icns-categ/24.png); margin-top:6px;" class="icon-ctg"> </div> <li><a style="color:#666; font-family: 'Open Sans', sans-serif;" href="#">Todas Categorias
</a></li>

<h3 style=" text-decoration:underline; font-size:14pt; color:#F66; text-align:center;"> Anuncie CONOSCO </h3>



<a target="_blank" title="Anuncie no InfoNegócio" href="#"> 
<div class="anunciec"> </div></a>










</ul>
</div>
</div>
</li>
		






<li><a title="Ofertas em Destaque" href="#"> <div style="background-image:url(/static/img/etq.png); margin-top:5px;" class="iconssd"> </div>Ofertas em Destaque</a></li>
		
			
<li><a href="#"> <div style="background-image:url(/static/img/ofert.png); margin-top:5px;" class="iconssd"> </div>Atrações</a> </li>
		
		<li><a href="#"> <div style="background-image:url(/static/img/buls.png); margin-top:5px;" class="iconssd"> </div>Guia de Turismo</a> </li>

		
		
		<li><a href="#"> <div style="background-image:url(/static/img/cupyn.png); margin-top:5px;" class="iconssd"> </div>Cupons de Desconto</a> </li>
		
		
		
		
	</ul>

</div>








</div>
</div> <!-- FIM CATEGORIAS -->




<div class="categorias-separa"> </div>




</div>