{% load staticfiles %}
    
    <!-- jQuery 2.1.4 -->
    <script type="text/javascript" src={% static "css/botstraps/plugins/jQuery/jQuery-2.1.4.min.js" %}></script>
    <!-- Bootstrap 3.3.5 -->
    <script type="text/javascript" src={% static "css/botstraps/bootstrap/js/bootstrap.min.js" %}></script>
    <!-- Select2 -->
    <script type="text/javascript" src={% static "css/botstraps/plugins/select2/select2.full.min.js" %}></script>
    <!-- InputMask -->
    <script type="text/javascript" src={% static "css/botstraps/plugins/input-mask/jquery.inputmask.js" %}></script>
    <script type="text/javascript" src={% static "css/botstraps/plugins/input-mask/jquery.inputmask.date.extensions.js" %}></script>
    <script type="text/javascript" src={% static "css/botstraps/plugins/input-mask/jquery.inputmask.extensions.js" %}></script>
    <!-- date-range-picker -->
    <script type="text/javascript" src={% static "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>

    <script type="text/javascript" src={% static "css/botstraps/plugins/daterangepicker/daterangepicker.js" %}></script>
    <!-- bootstrap color picker -->
    <script type="text/javascript" src={% static "css/botstraps/plugins/colorpicker/bootstrap-colorpicker.min.js" %}></script>
    <!-- bootstrap time picker -->
    <script type="text/javascript" src={% static "css/botstraps/plugins/timepicker/bootstrap-timepicker.min.js" %}></script>
    <!-- SlimScroll 1.3.0 -->
    <script type="text/javascript" src={% static "css/botstraps/plugins/slimScroll/jquery.slimscroll.min.js" %}></script>
    <!-- iCheck 1.0.1 -->
    <script type="text/javascript" src={% static "css/botstraps/plugins/iCheck/icheck.min.js" %}></script>
    <!-- FastClick -->
    <script type="text/javascript" src={% static "css/botstraps/plugins/fastclick/fastclick.min.js" %}></script>
    <!-- AdminLTE App -->
    <script type="text/javascript" src={% static "css/botstraps/dist/js/app.min.js" %}></script>
    <!-- AdminLTE for demo purposes -->
    <script type="text/javascript" src={% static "css/botstraps/dist/js/demo.js" %}></script>
    <!-- Page script -->
    <script>
      $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();

        //Datemask dd/mm/yyyy
        $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
        //Datemask2 mm/dd/yyyy
        $("#datemask2").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
        //Money Euro
        $("[data-mask]").inputmask();

        //Date range picker
        $('#reservation').daterangepicker();
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
        //Date range as a button
        $('#daterange-btn').daterangepicker(
            {
              ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
              },
              startDate: moment().subtract(29, 'days'),
              endDate: moment()
            },
        function (start, end) {
          $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
        );

        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
          checkboxClass: 'icheckbox_minimal-blue',
          radioClass: 'iradio_minimal-blue'
        });
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
          checkboxClass: 'icheckbox_minimal-red',
          radioClass: 'iradio_minimal-red'
        });
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
          checkboxClass: 'icheckbox_flat-green',
          radioClass: 'iradio_flat-green'
        });

        //Colorpicker
        $(".my-colorpicker1").colorpicker();
        //color picker with addon
        $(".my-colorpicker2").colorpicker();

        //Timepicker
        $(".timepicker").timepicker({
          showInputs: false
        });
      });
    </script>