<div class="titulo-oft">  
	<p style="text-align:center; font-size:32px; text-shadow: 0 0 1px rgba(0,0,0,.35); font-family: 'Ubuntu', sans-serif; color:#FFF; margin-top:26px;"> Ofertas Destaque em 
		<span style="color:#FC3;">Pernambuco </span>
	</p>
	<div style="margin-top:-46px; margin-left:-15px;" class="control-box">                            
		<a data-slide="prev" href="#myCarousel" class="carousel-control left">‹</a>
		<a data-slide="next" href="#myCarousel" class="carousel-control right">›</a>
	</div><!-- /.control-box -->  
</div>