<div class="sidbaropcoescliet"> 

	<div class="sidbaropcoesclietdt">
		<a title="Início" href="/painel">
			<div class="mennuuser"> 
				<div style="background-image:url(/static/img/huse.png);" class="icmnu"> </div>
				<p style="font-family: 'Ubuntu', sans-serif; color:#666; float:left; margin-top:16px; margin-left:5px; font-size:11pt;"> 
					INÍCIO 
				</p>
			</div>
		</a>
		<a title="Meus Anuúncios" href="#">
			<div class="mennuuser"> 
				<div style="background-image:url(/static/img/mnh.png);" class="icmnu"> </div>
				<p style="font-family: 'Ubuntu', sans-serif; color:#666; float:left; margin-top:16px; margin-left:5px; font-size:11pt;"> 
					MEUS ANÚNCIOS
				</p>
			</div>
		</a>	
		<!-- <a title="Ver Faturas" href="#">       :::::: DESATIVADO PQ NAO CRIOU ANUNCIO PG -->
		<div class="mennuuser"> 
			<div style="background-image:url(/static/img/fat.png);" class="icmnu"> </div>
			<p style="font-family: 'Ubuntu', sans-serif; color:#CCC; float:left; margin-top:16px; margin-left:5px; font-size:11pt;"> 
				FATURAS
			</p>
		</div> <!--     
		</a>       :::::: DESATIVADO PQ NAO CRIOU ANUNCIO PG -->

		<!--     
		<a title="Abrir Ticket" href="#">       :::::: DESATIVADO PQ NAO CRIOU ANUNCIO PG -->
		<div class="mennuuser"> 
			<div style="background-image:url(/static/img/msn1.png);" class="icmnu"> </div>
			<p style="font-family: 'Ubuntu', sans-serif; color:#CCC; float:left; margin-top:16px; margin-left:5px; font-size:11pt;"> 
				ABRIR TICKET
			</p>
		</div> <!--     
		</a>       :::::: DESATIVADO PQ NAO CRIOU ANUNCIO PG -->
		
		<div style="float:right; margin-right:10px;" class="mennuuser"> 
			<div style="background-image:url(/static/img/usr.png);" class="icmnu"> </div>
			<p style="font-family: 'Ubuntu', sans-serif; color:#666; float:left; margin-top:16px; margin-left:5px; font-size:11pt;">
				Olá,
				<a title="Sua Conta" href="#">
					<span style="color:#36C; text-decoration:underline;">{{user}}</span>
				</a>
				, clique para 
				<a href="/sair">
					<span style="color:#36C; text-decoration:underline;"> [sair]</span>
				</a>
		 	</p>
		</div>
	</div>
</div>