<div class="rodape">  <!-- RODAPE <!-->
	<div class="rodape-amar"> 
		<div class="bx-rod"> 
			<div class="inlgo"> </div>
			<p style="text-align:center; color:#CCC; margin:5px; text-shadow: 0 0 5px rgba(0,0,0,.85); ">
				O InfoNegócio é um guia de Cidades e Ofertas Nacional. O Conteúdo postado pelo anunciante é de mera responsabilidade do mesmo.
			</p>
		</div>

		<div class="bx-rod2"> 
			<div class="tit-ses-rod"> 
				<p style="color:#FC3; font-family: 'Ubuntu', sans-serif; font-size:19px;">
					O InfoNegócio
				</p>	
			</div>

			<p style="font-family: 'Ubuntu', sans-serif;  font-size:13px;"> 
				<a style="color:#CCC;" href="#">
					Quem Somos 
				</a>
			</p>
		
			<p style="font-family: 'Ubuntu', sans-serif; margin-top:-5px; font-size:13px;">
				<a style="color:#CCC;" href="#">
					Termos de Uso
				</a>
			</p>
		
			<p style="font-family: 'Ubuntu', sans-serif; margin-top:-5px; font-size:13px;">
				<a style="color:#CCC;" href="#">
					Trabalhe Conosco
				</a>
			</p>
		
			<p style="font-family: 'Ubuntu', sans-serif; margin-top:-5px; font-size:13px;">
				<a style="color:#CCC;" href="#">
					Duvidas?
				</a>
			</p>      
	
			<p style="font-family: 'Ubuntu', sans-serif; margin-top:-5px; font-size:13px;">
				<a style="color:#CCC;" href="#">
					Fale Conosco
				</a>
			</p>  

		</div>

		<div class="bx-rod"> 
			<div class="tit-ses-rod">
				<p style="color:#FC3; font-family: 'Ubuntu', sans-serif; font-size:19px;">
					Para Você e Seu Negócio
				</p>
			</div>

			
				<p style="font-family: 'Ubuntu', sans-serif;  font-size:13px;">
					<a style="color:#CCC;" href="#">
						Cadastre uma Empresa
					</a>
				</p> 


			
				<p style="font-family: 'Ubuntu', sans-serif; margin-top:-5px; font-size:13px;">
					<a style="color:#CCC;" href="#">
						Anuncie seu Negócio
					</a>
				</p>


			
				<p style="font-family: 'Ubuntu', sans-serif; margin-top:-5px; font-size:13px;">
					<a style="color:#CCC;" href="#">
						Crie uma Oferta
					</a>
				</p>


			
				<p style="font-family: 'Ubuntu', sans-serif; margin-top:-5px; font-size:13px;">
					<a style="color:#CCC;" href="#">
						Crie seu Web Site
					</a>
				</p>   

			
			<div class="red-social">				
				<a title="InfoNegócio no Twitter" target="_blank" href="#"> 
					<div style="background-image:url(/static/img/twt.png);" class="bxrdsoci"> </div>
				</a>

				<a title="InfoNegócio no Facebook" target="_blank" href="https://www.facebook.com/Infonegociobrasil?ref=ts&fref=ts"> 
					<div style="background-image:url(/static/img/fcb.png);" class="bxrdsoci"></div>
				</a>

				<a title="InfoNegócio no Instagram" target="_blank" href="#"> 
					<div style="background-image:url(/static/img/inst.png);" class="bxrdsoci"> </div>
				</a>
			</div>  

			<p style="margin-top:10px; float:left; text-align:center; color:#CCC;"> InfoNegócio Todos os Direitos Reservados - 2015 </p>

		</div>
	</div>
</div> <!-- FIM RODAPE <!-->  