{% extends "base_interno.html" %}
{% load staticfiles %}
{% block conteudo %}

{% block css_extra %}
		<!-- Bootstrap 3.3.5 -->
	<link rel="stylesheet" href={% static "css/botstraps/bootstrap/css/bootstrap.min.css" %}>
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<!-- daterange picker -->
	<link rel="stylesheet" href={% static "css/botstraps/plugins/daterangepicker/daterangepicker-bs3.css" %}>
	<!-- iCheck for checkboxes and radio inputs -->
	<link rel="stylesheet" href={% static "css/botstraps/plugins/iCheck/all.css" %}>
	<!-- Bootstrap Color Picker -->
	<link rel="stylesheet" href={% static "css/botstraps/plugins/colorpicker/bootstrap-colorpicker.min.css" %}>
	<!-- Bootstrap time Picker -->
	<link rel="stylesheet" href={% static "css/botstraps/plugins/timepicker/bootstrap-timepicker.min.css" %}>
	<!-- Select2 -->
	<link rel="stylesheet" href={% static "css/botstraps/plugins/select2/select2.min.css" %}>
	<!-- Theme style -->
	<link rel="stylesheet" href={% static "css/botstraps/dist/css/AdminLTE.min.css" %}>
	<!-- AdminLTE Skins. Choose a skin from the css/skins
		 folder instead of downloading all of them to reduce the load. -->
	<link rel="stylesheet" href={% static "css/botstraps/dist/css/skins/_all-skins.min.css" %}>

	<!-- label do formulário -->
	<link rel="stylesheet" href={% static "css/formulario_anuncio.css" %}>

{% endblock css_extra %}

{% block extra_js %}
	
	<script type="text/javascript" src={% static "js/masked_input.js" %}></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#id_telefone').mask('(99) 9999-9999');
		});
	</script>

{% endblock extra_js %}

 <!-- DIV QUE CENTRALIZA --> 
<div class="sitctro"> 
{% include "ad_sense_anuncio.html" %}

	<div style="margin-top:15px;" class="ttlepq2">
		<div style="margin-left:20px; background-image:url(/static/img/smtv2msg.png);"  class="icttlq"> </div>
		<p style="color:#666; font-size:18pt; font-family: 'Open Sans', sans-serif; margin-left:10px; float:left;">Formulário de Cadastro </p>
	</div>
	<!-- CAIXA DE MENSAGENS -->  
	<div class="cxmsg">
	 
		<div class="btcxmsg"> </div>
	 	<!-- BASE FORM RESPONS -->
		<div class="bngform">	
			<!-- form -->
			<div class="bngformlaesq">  
				<form role="form" action='.' method='POST' enctype='multipart/form-data'> 
					<div class="box-body">
						<div>
							<br>
							{% csrf_token %}
							{{form.as_p}}
						</div>
						<hr class="colorgraph">
						<div class="row">
							<div class="col-xs-12 col-md-6"><input type="submit" value="Cadastre-se" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
							<div class="col-xs-12 col-md-6"><a href="/entrar" class="btn btn-success btn-block btn-lg">Entre</a></div>
						</div>
					</div>
				</form>
			</div>
	<Div class="sprbton"> </Div>
	</div>
</div> <!-- FIM DIV QUE CENTRALIZA --> 
  <Div class="separcont"> </Div>
</div>
		
{% endblock conteudo %}
