{% extends "base_interno.html" %}
{% load staticfiles %}
{% block conteudo %}
{% block cssextra %}
	<link rel="stylesheet" type="text/css" href={% static "css/master-interno.css" %}>
{% endblock cssextra %}

<!-- DIV SITE CONTEUDO -->
<div  class="separ-topo2"> </div>
	<div class="banner-cliente"> <!-- AQUI O CLIENTE MUDA O BANNER DO ANUNCIO DELE    --> 		
		<div class="bgform"> <!-- BG FORM    -->
			<div style="margin:auto;" class="container">
	{% include "ad_sense_anuncio.html" %}
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
						<form action='.' method='POST'>
							<h2>Seja bem vindo <small>use seus dados para logar ou registrar para uma conta gratuita</small></h2>
							<hr class="colorgraph">
							{% csrf_token %}
							{{form.as_p}}
							<div class="row">
								<div class="col-xs-8 col-sm-9 col-md-9">Use seu <strong class="label label-primary">Nome de Usuario e senha</strong> para ter acesso a sua conta.<a href="#" data-toggle="modal" data-target="#t_and_c_m">Termos de Uso.</a> 
									{{request.POST.estado}}
								</div>
							</div>	
							<hr class="colorgraph">
								{% if erro %}
									<div class='alert alert-danger'>Login ou senha incorretos! Por favor tente novamente.</div>
								{% endif %}
							<div class="row">
								<div class="col-xs-12 col-md-6">
									<input type="submit" value="Entrar" class="btn btn-primary btn-block btn-lg" tabindex="7">
								</div>
								<div class="col-xs-12 col-md-6"><a href="/cadastre_se" class="btn btn-success btn-block btn-lg">Registrar</a></div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>    
	</div> <!-- FIM BANNER CLIENTE    -->
		
{% endblock conteudo %}
